<!DOCTYPE html>
<html>
	<head>
  		<title>Mr.Hat</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>

	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
      		<div class="navbar-inner">
	        	<div class="container">
			    	<%= link_to "sample app", '#', id: "logo" %>
					<nav>
						<ul class="nav pull-right">
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<%= render 'layouts/header' %>
		<div class="container">
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
